$baseline: 1.5rem;

$green: rgb(1, 189, 1);
$red: rgba(255, 0, 0, 0.747);

%center {
    display : flex;
    justify-content : center;
    align-items : center;
}

%layout {
    display : grid;
    grid-template-columns : repeat(2, 1, 2fr);
    grid-template-areas : 
    'picture content'
    '. content'
    '. content'
    '. content';
}

%picture {
    grid-area : picture;
}

%cabin {
    grid-area : cabin;
}

%content {
    grid-area : content;
    border : 1px solid black;
}

%addGrid {
    display : grid;
    grid-template-columns : repeat(1, 2fr);
    grid-template-areas :
    'input'
    'input'
    'input'
    'input'
    'input';
}

%trGrid {
    display : grid;
    grid-template-columns : repeat(1, 1fr);
    grid-template-areas : 
    'cabin'
    'cabin'
    'cabin'
    'cabin';
}

@media only screen and (max-width: 700px) {
    #app {
    grid-template-columns : repeat(1, 1fr);
    grid-template-areas : 
    'picture'
    'content'
    'content'
    'content';
        
        .content {
            display : flex;
        }
    }
}