/* CSS i hela appen */
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: black;
    display: flex;

    .content {

      /* CSS i Admin sidan */
      .cabin {
        background : lightcoral;
        padding : 1.5rem;
      }
      .addCabin {
        background : darkcyan;
        padding : 2rem .5rem;
        display : grid;

        input {
          padding : .5rem;
        }

        & a.btn {
          padding : 1rem;
          background : yellowgreen;
        }
      }
    }  
  /* Navigationen */
  #nav {
    padding : 1rem;
    background : rgb(181, 179, 250);
    /* Länkar och även aktiva sidorna */
    a {
      font-weight : bold;
      color : black;

      &.router-link-exact-active {
        color : red;
      }
    }
  }
}