/* Imports */
@import './_buger';
@import './_variables';
@import './_components';

/* CSS i hela appen */
* {
  box-sizing : border-box;
}
body {
  background : whitesmoke;
}
#app {
  font-family : 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing : grayscale;
  text-align : center;
  color : black;
  @extend %layout;

  /* Bilden på vänster sida */
  .home-picture {
    @extend %picture;  
    z-index: -1000;
    padding : 25px 0 0 0;
    overflow : hidden;
  }

 /* All CSS i hela appen */
  .content {
    padding : 2rem 0 0 0;
    display : grid;
    border : 1px solid black;
    @extend %input;
  }

  img {
    width: 20%;
  }

  /* Navigationen */
  #nav {
    color : white;
    position : absolute;
    overflow : hidden;

    /* Länkarna i bugarmenyn */
    a {
      font-weight : bold;
      color : white;
      text-decoration : none;
      /* Aktiv länk blir röd */
      &.router-link-exact-active {
        color : rgb(6, 122, 2);
      }
      &:hover {
        background : rgba(0,0,0,.3);
      }
    }
  }
}

/* Admin sidan */
thead { 
  display : flex;
  justify-content : center;
  align-items : center;
  cursor: pointer;
  tr {
    td {
      font-weight : bold;
      font-size : 1.2rem;
      padding : 0 1rem;
      &:active, &:hover {
          background : rgba(201, 197, 197, 0.918);
        
      }
    }
  }
}

/* Input i Add Cabin och Stuglistan, pick-date knappen */
.addCabin, .pick-date { 
  display : grid;
  grid-area : 'input';
  @extend %input;
}

/* Stuglistan och dess CSS */
.cabin {
  @extend %content;
  ul {
    li {
      cursor: pointer;
      font-weight : bold;
      font-size : 1.5rem;    
      display : grid;
      justify-content : space-evenly;
      &:hover {
          background :rgba(0, 0, 0, 0.123);
      }
      em {
        font-weight : normal !important;
        font-size : 1rem;
      }
    }
  }
}
.availableCabins {
  @extend %trGrid;
  border : 1px solid black;
  cursor: pointer;

  &:hover {
    td {
      background :rgba(0, 0, 0, 0.123);
    }
  }
}

@media only screen and (max-width: 600px) {
  %layout {

  grid-template-columns : repeat(1, 1fr);
  grid-template-areas : 
  'picture'
  'content'
  'content';

  }
  thead {
    display : grid;
  }
  .content {
    display : grid;
  }
}